.background {
    background: rgb(238, 222, 241);
    background:
    radial-gradient(ellipse at top, #a37588, transparent),
            radial-gradient(ellipse at bottom, #a47085, transparent);
}

.tasklist-title {
    background-image: linear-gradient(45deg, #3bec23e6, #e3ed54);
    font-size:4rem;
    -webkit-background-clip: text;
    color: transparent;
}

.tasklist-slogan {
    font-size:2rem;
}
